html {
  overflow-y: auto;
}

html::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 5px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}

html::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  background-color: orange;
  background-image: -webkit-linear-gradient(45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent);
}

html::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #ededed;
  border-radius: 10px;
}

.article {
  position: relative;
  height: 100%;
}

.goPage {
  padding: .9375rem;

  &>div {
    display: block;
  }

  .prevPage {
    float: left;

  }

  .nextPage {
    float: right;

  }


}

.Page-main {
  padding: .5rem .9rem;
  background: rgba(252, 250, 242, 1);
  border: 1px solid #d7d7d7;
  border-radius: .2rem;
}

.articleList:hover {
  .articlemain {
    .content {
      &>img {
        transform: scale(1.2);
      }
    }
  }

}

.articleList {
  margin-bottom: 2%;
  padding: .9375rem;
  padding-bottom: 0;
  //height: 6.875rem;
  //box-shadow: 0 1px 20px -8px rgba(0, 0, 0, .5);
  width: 100%;
  height: auto;
  //border-radius: 15px 15px 5px 5px;
  font-family: sans-serif;

  .articlemain {
    width: 100%;
    height: 100%;
    //box-shadow: 0 1px 20px -6px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    border-radius: 3px;
    background: #fff; //
    transition: all 0.7s ease-in-out;
    transition: box-shadow .5s cubic-bezier(.22, .61, .36, 1);
    //box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    //box-shadow: 0 1px 4px rgba(0, 0, 0, .15);

    .content {
      width: 100%;
      height: 100%;
      overflow: hidden;

      &>img {
        width: 100%;
        height: auto;
        object-fit: cover;
        //pointer-events: none;
        transition: all .6s;
        margin-bottom: unset;
        cursor: pointer;
        transition: all 0.6s;
      }

    }

    .content-img {
      width: 100px;
      height: 100px;
      //padding-top: 8px;
      margin: 52px auto
    }

    .content-wrap {

      .content-wrap-main {
        padding: 15px;
        width: 100%;
        height: 100%;

        &>section {
          &>h4 {
            color: #337ab7;
            font-size: 1.5rem;
            margin: 12px 0 !important;
            margin-bottom: unset;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            //-webkit-line-clamp: 2;
            //overflow: hidden;
            word-wrap: break-word;
            text-align: left;

            &>a {
              color: unset
            }

            &>a:hover {
              color: orange
            }
          }

        }

        &>footer {
          text-align: left;
          font-family: '幼圆';

          &>p {
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            //overflow: hidden;
            word-wrap: break-word;
          }
        }

        .more {
          font-size: 30px;
          font-weight: 20px;
          text-align: right;
          cursor: pointer;

          &>a {
            color: unset
          }
        }

        .more:hover {
          color: orange;
        }
      }
    }


    .content-right {
      float: right;
      text-align: left;

      &>img {
        border-radius: 0 10px 10px 0;
      }


    }

    .content-left {
      float: left;
      text-align: right;

      &>img {
        border-radius: 10px 0 0 10px;
      }

    }
  }

  /*.articlemain:hover {
    box-shadow: 0 1px 20px -6px rgba(0, 0, 0, .5);
  }*/

  /*&>div {
    padding-top: 1.25rem;
    padding: 1.25rem;
    border-radius: 15px 15px 0px 0px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    width: 100%;
    height: 100%;
  }

  &>div:hover {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  }

  &>div>a {
    display: inline-block;
    height: 150px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
  }

  &>div>a>.myCanvas {
    //margin-bottom: 15px;
    border-radius: 15px 15px 0px 0px;
  }

  &>div>header>img {
    //margin-bottom: 15px;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: .9375rem
  }*/

}


.page_main {
  padding: .9375rem;
}

.page {
  position: relative;
  height: 1.875rem;
  bottom: 30px;
  color: #fff;
  border-radius: .625rem;

  &.prevpage {
    float: left
  }

  &>a {
    box-shadow: unset;
    color: #000;
  }

  &.nextpage {
    float: right
  }
}

.label {
  position: relative;
  top: -.9375rem
}



.gatsby-plugin-transition-link-portal {
  div {
    top: 3.75rem !important;
    background: #fff !important;
    height: calc(100% - 5.625rem) !important;
  }
}

.article_section {
  padding-top: 5px;
  height: auto;
  display: -webkit-box;
  overflow: hidden;
  /*-webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  text-indent: 2em*/
}


/* Underline From Right */
.hvr-underline-from-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: orange;
  height: 4px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-right:hover:before,
.hvr-underline-from-right:focus:before,
.hvr-underline-from-right:active:before {
  left: 0;
}


/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: orange;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: orange;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}