.aplayer {
  &.aplayer-fixed {
    .aplayer-list {
      margin-bottom: 95px !important;
    }

    .aplayer-body {

      bottom: 1.9rem !important;
      left: -4.125rem;

      .aplayer-pic {
        border-radius: 50px;


      }
    }

    .aplayer-body-none {
      left: -4.125rem !important;
    }

    .aplayer-body-show {
      left: 0 !important;
    }

    .aplayer-body-hover:hover {
      left: 0 !important;
    }
  }
}



@keyframes animal {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@keyframes animal1 {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  /*100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }*/
}

.aplayer {
  &.aplayer-fixed {
    z-index: 999 !important;

    .aplayer-lrc {
      bottom: 30px !important;

      .aplayer-lrc-contents {
        p {
          font-size: 22px;
          line-height: 25px !important;
          color: red;
        }
      }
    }
  }
}